.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}
.selector-msg {
    color: #222222;
    font-family: ProximaNovaSemiBold,Helvetica,Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 15px;
    display: inline-block;
}
.latestories{
    color: #222222;
    font-family: ProximaNovaSemiBold,Helvetica,Arial;
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 25px;
}
.iterationtrackingboard {
    overflow-y: hidden;
}
.iterationtrackingboard .header {
    line-height: normal;
    padding: 5px 5px 2px 5px;
}
.iterationtrackingboard .header .add-new {
    float: left;
}
.iterationtrackingboard .header .add-new .new {
    margin-left: 0;
}
.iterationtrackingboard .header .rui-triggerfield {
    margin-bottom: 5px;
}
.iterationtrackingboard .blank-slate-msg .x-panel-body {
    clear: both;
    padding-top: 20px;
    text-align: center;
}
.iterationtrackingboard .gridboard-filter-control {
    height: 22px;
    margin: 3px 0px 0px 5px;
}
.iterationtrackingboard .rui-leftright {
    margin-bottom: 10px;
}
.settings-no-grid {
    padding: 10px;
}
.icon-portfolioitem {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-portfolioitem:before {
    content: '\e024';
}